In [1]:
import pandas as pd
import os
tripstats_csv = os.path.join('trip_stats.csv')
tripareas_csv = os.path.join('trip_areas.csv')
tripstats_df = pd.read_csv(tripstats_csv)
tripareas_df = pd.read_csv(tripareas_csv)

## Building sqlite DB

In [26]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Date
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import func, or_, and_
from sqlalchemy import desc

In [3]:
Base = declarative_base()
engine = create_engine('sqlite:///uber_lyft_DB.sqlite')

In [4]:
class Rideshare(Base):
    __tablename__='rideshare'
    id = Column(Integer, primary_key=True)
    trip_area = Column(Float)
    latitude = Column(Float)
    longitude = Column(Float)
    name = Column(String(255))
    day_of_week = Column(Float)
    hour = Column(Float)
    pickups = Column(Float)
    dropoffs = Column(Float)

In [5]:
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [6]:
uber_lyft_DB_csv = os.path.join('uber_lyft_DB.csv')
uber_lyft_DB_df = pd.read_csv(uber_lyft_DB_csv)

In [7]:
uber_lyft_DB_df=uber_lyft_DB_df[['trip_area', 'latitude', 'longitude', 'name', 'day_of_week', 'hour',
                 'pickups', 'dropoffs']]

In [7]:
# uber_lyft_DB_df.head()

In [8]:
trip_area_list=[]
latitude_list=[]
longitude_list=[]
name_list=[]
dow_list=[]
hour_list=[]
pickups_list=[]
dropoffs_list=[]

In [9]:
for each in uber_lyft_DB_df.trip_area:
    trip_area_list.append(each)
    
for each in uber_lyft_DB_df.latitude:
    latitude_list.append(each)
    
for each in uber_lyft_DB_df.longitude:
    longitude_list.append(each)
    
for each in uber_lyft_DB_df.name:
    name_list.append(each)
    
for each in uber_lyft_DB_df.day_of_week:
    dow_list.append(each)
    
for each in uber_lyft_DB_df.hour:
    hour_list.append(each)
    
for each in uber_lyft_DB_df.pickups:
    pickups_list.append(each)
    
for each in uber_lyft_DB_df.dropoffs:
    dropoffs_list.append(each)

In [10]:
# print(trip_area_list)

In [11]:
list_for_db = []
i = 0
while len(list_for_db) < len(trip_area_list):
    storing_station = Rideshare(trip_area = trip_area_list[i], latitude = latitude_list[i], longitude = longitude_list[i], 
                            name = name_list[i], day_of_week = dow_list[i], hour=hour_list[i], pickups=pickups_list[i], 
                            dropoffs=dropoffs_list[i])
    list_for_db.append(storing_station)
    i = i+ 1

In [12]:
for each in list_for_db:
    print(each.trip_area) 
    break

1

In [13]:
session.add_all(list_for_db)
session.commit()
session.close()

In [14]:
everything = session.query(Rideshare)

In [15]:
for each in everything:
    print (each.trip_area)
    
    break

1.0

In [8]:
if not os.path.exists('uber_lyft_DB.sqlite'):
    raise FileNotFoundError("The UL-sqlite-file does not exist")
engine = create_engine("sqlite:///uber_lyft_DB.sqlite")

Base = automap_base()
Base.prepare(engine, reflect=True)

ridesharedata = Base.classes.rideshare

session = Session(engine)
day = 0

In [23]:
dow_query = (session.query(ridesharedata.trip_area, ridesharedata.latitude, ridesharedata.longitude, ridesharedata.name, 
                    ridesharedata.day_of_week, ridesharedata.hour, ridesharedata.pickups, ridesharedata.dropoffs).filter(
                            ridesharedata.day_of_week == day))
dow_query

In [24]:
dow_query.group_by(ridesharedata.hour).all()

[(958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  3.0,
  0.2,
  0.2),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  4.0,
  0.6,
  0.2),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  5.0,
  2.2,
  1.2),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  6.0,
  11.0,
  10.2),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  7.0,
  11.8,
  12.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  8.0,
  13.4,
  11.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  9.0,
  4.6,
  9.0),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  10.0,
  5.6,
  5.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  11.0,
  6.6,
  8.8),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  12.0,
  6.4,
  7.4),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  13.0,
  4.8,
  5.4),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  14.0,
  4.4,
  5.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  15.0,
  3.6,
  5.0),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  16.0,
  5.2,
  5.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  17.0,
  16.0,
  17.0),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  18.0,
  13.8,
  16.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  19.0,
  10.8,
  13.2),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  20.0,
  6.0,
  4.6),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  21.0,
  4.8,
  3.4),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  22.0,
  3.0,
  3.0),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  23.0,
  1.0,
  1.2),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  24.0,
  0.4,
  1.0),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  25.0,
  0.0,
  0.0),
 (958.0,
  37.79687543,
  -122.39451809999998,
  'TAZ981999 981',
  0.0,
  26.0,
  0.2,
  0.0)]

In [39]:
sum_query = (session.query(ridesharedata.hour, func.sum(ridesharedata.pickups)).group_by(ridesharedata.hour).filter(ridesharedata.day_of_week == day).all())

In [40]:
sum_query

[(3.0, 559.5999999999983),
 (4.0, 879.4000000000004),
 (5.0, 1861.6000000000004),
 (6.0, 3291.9999999999955),
 (7.0, 6165.39999999999),
 (8.0, 8114.399999999996),
 (9.0, 7925.199999999996),
 (10.0, 5926.200000000001),
 (11.0, 5474.999999999995),
 (12.0, 5383.200000000002),
 (13.0, 5300.600000000004),
 (14.0, 5507.000000000007),
 (15.0, 6384.200000000006),
 (16.0, 7251.0),
 (17.0, 9463.799999999996),
 (18.0, 10793.799999999987),
 (19.0, 10175.400000000009),
 (20.0, 8461.799999999992),
 (21.0, 7425.400000000002),
 (22.0, 5820.399999999996),
 (23.0, 3710.2000000000035),
 (24.0, 2111.400000000003),
 (25.0, 1359.2000000000048),
 (26.0, 849.0000000000025)]

In [42]:
for each in sum_query:
    print(each[0], each[1])

3.0 559.5999999999983
4.0 879.4000000000004
5.0 1861.6000000000004
6.0 3291.9999999999955
7.0 6165.39999999999
8.0 8114.399999999996
9.0 7925.199999999996
10.0 5926.200000000001
11.0 5474.999999999995
12.0 5383.200000000002
13.0 5300.600000000004
14.0 5507.000000000007
15.0 6384.200000000006
16.0 7251.0
17.0 9463.799999999996
18.0 10793.799999999987
19.0 10175.400000000009
20.0 8461.799999999992
21.0 7425.400000000002
22.0 5820.399999999996
23.0 3710.2000000000035
24.0 2111.400000000003
25.0 1359.2000000000048
26.0 849.0000000000025