In [1]:
import pandas as pd
import os
tripstats_csv = os.path.join('trip_stats.csv')
tripareas_csv = os.path.join('trip_areas.csv')
tripstats_df = pd.read_csv(tripstats_csv)
tripareas_df = pd.read_csv(tripareas_csv)

In [2]:
tripstats_df.columns

Index(['trip_area', 'day_of_week', 'hour', 'pickups', 'dropoffs'], dtype='object')

In [3]:
tripstats_df.head()

   trip_area  day_of_week  hour  pickups  dropoffs
0          1            0     3      0.6       0.4
1          1            0     4      0.0       0.4
2          1            0     5      0.6       0.6
3          1            0     6      0.8       1.0
4          1            0     7      0.6       0.8

In [4]:
tripareas_df.head()

   trip_area   latitude   longitude         name
0          1  37.708329 -122.415330    TAZ981999
1          2  37.708202 -122.468944  TAZ981999 2
2          3  37.709678 -122.423971  TAZ981999 3
3          4  37.710322 -122.460482  TAZ981999 4
4          5  37.708332 -122.419719  TAZ981999 5

In [13]:
tripstats_df.groupby(['trip_area','day_of_week','hour']).sum().head(2)

                            pickups  dropoffs
trip_area day_of_week hour
1         0           3         0.6       0.4
                      4         0.0       0.4

In [21]:
trip_area_df = tripstats_df.groupby(['trip_area']).sum()
trip_area_df['pickdrop'] = trip_area_df['pickups'] + trip_area_df['dropoffs']
trip_area_df = trip_area_df.reset_index()
trip_area_df

     trip_area  day_of_week  hour  pickups  dropoffs  pickdrop
0            1          504  2436   113.35    102.65    216.00
1            2          504  2436   239.20    272.35    511.55
2            3          504  2436   140.60    150.60    291.20
3            4          504  2436   643.25    693.50   1336.75
4            5          504  2436   111.20     87.75    198.95
5            6          504  2436   250.95    228.40    479.35
6            7          504  2436    59.55     60.85    120.40
7            8          504  2436   139.85    135.65    275.50
8            9          504  2436   430.95    499.90    930.85
9           10          504  2436   561.05    808.40   1369.45
10          11          504  2436   128.70    128.50    257.20
11          12          504  2436   103.10    113.95    217.05
12          13          504  2436   291.00    272.00    563.00
13          14          504  2436   254.55    297.20    551.75
14          15          504  2436   281.70    271.65    553.35
15          16          504  2436  1152.65   1090.75   2243.40
16          17          504  2436   208.75    206.30    415.05
17          18          504  2436   230.50    215.00    445.50
18          19          504  2436   449.55    486.90    936.45
19          20          504  2436   366.05    401.40    767.45
20          21          504  2436   403.55    304.45    708.00
21          22          504  2436   350.40    402.40    752.80
22          23          504  2436   177.60    169.40    347.00
23          24          504  2436   512.80    772.45   1285.25
24          25          504  2436   315.60    305.30    620.90
25          26          504  2436   130.90    123.15    254.05
26          27          504  2436   310.10    435.40    745.50
27          28          504  2436   572.35    772.35   1344.70
28          29          504  2436   296.20    319.35    615.55
29          30          504  2436   116.70     92.75    209.45
..         ...          ...   ...      ...       ...       ...
951        952          504  2436  1146.10   1098.50   2244.60
952        953          504  2436   483.65    440.20    923.85
953        954          504  2436  1418.65   1102.70   2521.35
954        955          504  2436  1021.90    978.20   2000.10
955        956          504  2436  1157.85    866.65   2024.50
956        957          504  2436  1205.60    762.25   1967.85
957        958          504  2436  1350.20   1468.15   2818.35
958        959          504  2436   208.45    306.35    514.80
959        960          504  2436    29.10     88.10    117.20
960        961          504  2436   230.45    354.25    584.70
961        962          504  2436   747.00    701.20   1448.20
962        963          504  2436   473.55    454.10    927.65
963        964          504  2436  1570.85   1862.80   3433.65
964        965          504  2436   591.00    762.90   1353.90
965        966          504  2436   304.80    329.65    634.45
966        967          504  2436   240.25    239.30    479.55
967        968          504  2436   373.50    441.80    815.30
968        969          504  2436    81.30    117.75    199.05
969        970          504  2436   103.70    174.30    278.00
970        971          504  2436   270.70    398.80    669.50
971        972          504  2436   231.35    244.10    475.45
972        973          504  2436   290.50    268.80    559.30
973        974          504  2436  1232.30   1434.35   2666.65
974        975          504  2436   261.45    363.70    625.15
975        976          504  2436   488.20    493.95    982.15
976        977          504  2436   160.45    166.20    326.65
977        978          504  2436    63.85     49.70    113.55
978        979          504  2436   104.05    127.65    231.70
979        980          504  2436   156.30    160.35    316.65
980        981          504  2436  1561.05   2343.05   3904.10

[981 rows x 6 columns]

In [22]:
weeklytrip_coordinates = pd.merge(trip_area_df, tripareas_df, on='trip_area')

In [24]:
weeklytrip_coordinates = weeklytrip_coordinates[['trip_area', 'pickdrop', 'latitude', 'longitude']]

     trip_area  pickdrop   latitude   longitude
0            1    216.00  37.708329 -122.415330
1            2    511.55  37.708202 -122.468944
2            3    291.20  37.709678 -122.423971
3            4   1336.75  37.710322 -122.460482
4            5    198.95  37.708332 -122.419719
5            6    479.35  37.708327 -122.408299
6            7    120.40  37.711013 -122.420953
7            8    275.50  37.710637 -122.436978
8            9    930.85  37.710697 -122.455158
9           10   1369.45  37.711373 -122.462064
10          11    257.20  37.711203 -122.443685
11          12    217.05  37.713961 -122.421096
12          13    563.00  37.710074 -122.448930
13          14    551.75  37.710860 -122.437587
14          15    553.35  37.711190 -122.407014
15          16   2243.40  37.708197 -122.470832
16          17    415.05  37.711655 -122.415081
17          18    445.50  37.711952 -122.409729
18          19    936.45  37.711689 -122.444097
19          20    767.45  37.714030 -122.462589
20          21    708.00  37.714387 -122.432838
21          22    752.80  37.711886 -122.445529
22          23    347.00  37.717281 -122.405310
23          24   1285.25  37.712693 -122.471141
24          25    620.90  37.714287 -122.465300
25          26    254.05  37.717376 -122.452642
26          27    745.50  37.712170 -122.402356
27          28   1344.70  37.711068 -122.455621
28          29    615.55  37.718235 -122.456107
29          30    209.45  37.718928 -122.404050
..         ...       ...        ...         ...
951        952   2244.60  37.793509 -122.397608
952        953    923.85  37.792541 -122.397552
953        954   2521.35  37.794588 -122.396585
954        955   2000.10  37.793664 -122.396390
955        956   2024.50  37.797957 -122.398508
956        957   1967.85  37.797243 -122.397138
957        958   2818.35  37.796875 -122.394518
958        959    514.80  37.796529 -122.464202
959        960    117.20  37.801691 -122.462756
960        961    584.70  37.801793 -122.464101
961        962   1448.20  37.799798 -122.457482
962        963    927.65  37.797292 -122.456544
963        964   3433.65  37.801772 -122.448803
964        965   1353.90  37.801538 -122.449893
965        966    634.45  37.804008 -122.449125
966        967    479.55  37.802604 -122.457745
967        968    815.30  37.805304 -122.468415
968        969    199.05  37.804441 -122.475642
969        970    278.00  37.798846 -122.469016
970        971    669.50  37.803403 -122.452838
971        972    475.45  37.806493 -122.471595
972        973    559.30  37.806820 -122.449048
973        974   2666.65  37.809021 -122.477126
974        975    625.15  37.799325 -122.478424
975        976    982.15  37.797849 -122.447210
976        977    326.65  37.793624 -122.454885
977        978    113.55  37.797338 -122.461795
978        979    231.70  37.796896 -122.457099
979        980    316.65  37.811025 -122.477315
980        981   3904.10  37.784833 -122.391330

[981 rows x 4 columns]